<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="user/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Home Page</title>
</head>
<body>
	
	<section class="banner view-contacts">
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1 mt-2 ">
					<div class="my-card text-center">
						<h3>Contacts</h3>
						<table class="table" th:object="${contacts}">
						
						  <thead class="thead-dark">
						    <tr>
						      <th scope="col">ID</th>
						      <th scope="col"> </th>
						      <th scope="col">Name</th>
						      <th scope="col">Email</th>
						      <th scope="col">Phone</th>
						      <th scope="col">Action</th>
						    </tr>
						  </thead>
						  
						  <tbody th:each="contact : ${contacts}">
						  
						    <tr>
						      <th scope="row" th:text="${contact.cid}"></th>
						      
						      <td>
						       	<a th:href="@{'/user/contact/' + ${contact.cid}}">
							    	<img class="profile-icon" alt="profile-photo" th:src="@{'/img/profile/' + ${contact.imageUrl}}" src="">
							    </a>						      
							  </td>
								
						      <td  >							     
							      <span  th:text="${contact.name}"></span>
							  </td>			      
						    
						      
						      <td  th:text="${contact.email}"></td>
						      
						      <td  th:text="${contact.phone}"></td>
						      <td>
						      	<button class="btn btn-danger btn-sm">Delete</button>
						      	<button class="btn btn-primary btn-sm">Update</button>
						      </td>
						    
						    </tr>
						    
						  </tbody>
						</table>
						
						<div class="pagination-bar">
							
							<nav aria-label="Page navigation example">
							
							  <ul class="pagination justify-content-center" >
							    <li th:if="${currentPage != 0}" class="page-item">
							    	<a class="page-link" th:href="@{'/user/view-contacts/' + ${currentPage - 1}}" href="#">Previous</a>
							    </li>
							    
							    <li th:classappend="${currentPage==i-1?'active':''}"
							     th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item">
							    	<a class="page-link" th:href="@{'/user/view-contacts/' + ${i-1}}" href="#">
							    		<span th:text="${i}"></span>
							    	</a>
							    </li>	
							    				
							    <li th:if="${currentPage != totalPages-1}" class="page-item">
							    	<a class="page-link" th:href="@{'/user/view-contacts/' + ${currentPage + 1}}" href="#">Next</a>
							    </li>
							  </ul>
							  
							</nav>
							
						</div>
																	
					</div>
				</div>
			</div>
		</div>
		
		
    
	</section>
	
</body>
</html>